body
{
    background: rgb(28, 9, 239);
    background: radial-gradient(circle, rgba(90,89,102,1) 0%, rgba(255,255,255,1) 100%);
}
#addbtn{
    position: absolute;
    margin-top: 25%;
    margin-left: 33%;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 15px #bfbbbf;
    -moz-box-shadow: 6px 6px 15px #bfbbbf;
    box-shadow: 6px 6px 15px #bfbbbf;
    font-family: Arial;
    color: #ffffff;
    font-size: 150%;
    background: #a8a8a8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#addbtn:hover {
    background: #575457;
    text-decoration: none;
}
#editbtn{
    position: absolute;
    margin-top: 68%;
    margin-left: 33.1%;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 15px #bfbbbf;
    -moz-box-shadow: 6px 6px 15px #bfbbbf;
    box-shadow: 6px 6px 15px #bfbbbf;
    font-family: Arial;
    color: #ffffff;
    font-size: 150%;
    background: #a8a8a8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#editbtn:hover {
    background: #575457;
    text-decoration: none;
}
#delbtn{
    margin-top: 120%;
    margin-left: 29.8%;
    margin-bottom: 20%;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 15px #bfbbbf;
    -moz-box-shadow: 6px 6px 15px #bfbbbf;
    box-shadow: 6px 6px 15px #bfbbbf;
    font-family: Arial;
    color: #ffffff;
    font-size: 150%;
    background: #a8a8a8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#delbtn:hover {
    background: #575457;
    text-decoration: none;
}