body
{
    background-image: url(https://www.urcindia.com/img/new_logo.svg);
    background-repeat:no-repeat;
    background-position: 50% 15%;
    background-size: 40%;
    height: 844px;
}
button{
    position: absolute;
    font-size: 170%;
    border-radius: 5%;
    color: #ffffff;
    background-color: #a8a8a8;
}
.addSE{
    margin-top: 70%;
    margin-left: 30%;
}
.addCont{
    margin-top: 105%;
    margin-left: 29%;
}
.addHA{
    margin-top: 145%;
    margin-left: 19%;
}
.namebar{
    overflow: hidden;
    position: absolute;
    width: 100%;
    font-size: 200%;
    background: #a8a8a8;
}
.bkbtn{
    float: right;
    margin-right: 2%;
    border: 0px;
    color: #ffffff;
    background-color: #a8a8a8;
}

#navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 200%;
    background: #a8a8a8;
}
#date{
    display: inline;
    margin-left: 2%;
}
#extra{
    margin-top: 200%;
    margin-left: 30%;
    float: bottom;
    visibility: hidden;
}